<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhindo.android_material_ui_daily_challenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.100Basic">
        <activity android:name=".activity.lists.ListBasicActivity"></activity>
        <activity android:name=".activity.lists.ListsMainMenuActivity" />
        <activity android:name=".activity.forms.FormAddProjectActivity" />
        <activity android:name=".activity.forms.FormSignupImageBackgroundActivity" />
        <activity android:name=".activity.forms.FormSignupImageActivity" />
        <activity android:name=".activity.forms.FormSignupDarkActivity" />
        <activity android:name=".activity.forms.FormSignupCardStackActivity" />
        <activity android:name=".activity.forms.FormSignupCardActivity" />
        <activity android:name=".activity.forms.FormEcommerceActivity" />
        <activity android:name=".activity.forms.FormAddressActivity" />
        <activity android:name=".activity.forms.FormTextArea" />
        <activity android:name=".activity.forms.FormProfileWithIconsActivity" />
        <activity android:name=".activity.forms.FormSignUpActivity" />
        <activity android:name=".activity.forms.FormLoginActivity" />
        <activity android:name=".activity.forms.FormMainActivity" />
        <activity android:name=".activity.card.CardWizardActivity" />
        <activity android:name=".activity.card.CardTimelineActivity" />
        <activity android:name=".activity.card.CardOverlapActivity" />
        <activity android:name=".activity.card.CardClickableActivity" />
        <activity android:name=".activity.card.CardBasicActivity" />
        <activity android:name=".activity.buttons.ButtonMainActivity" />
        <activity android:name=".activity.card.CardMainActivity" />
        <activity android:name=".activity.buttons.ButtonMoreActivity" />
        <activity android:name=".activity.buttons.ToggleButtonsActivity" />
        <activity android:name=".UtilityActivity" />
        <activity android:name=".activity.buttons.BasicActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>